body{
	background: url(korgi.jpg);
	width: 1890px;
	height: 1000px;
	background-attachment: fixed;
}
.s{
	background: #FFF7CD;
	margin-top: 20px;
	margin-right: 350px;
	margin-bottom: 10px;
	margin-left: 350px;
	border: 5px inset;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.d {
	text-align: center;
}
.f {
	margin-top: 20px;
	margin-right: 500px;
	margin-bottom: 10px;
	margin-left: 500px;
}

.ter img{
		width: 300px;
		position: relative;
		left: 500px;
		bottom: 160px;
	}
.nem img{
	width: 300px;
	position: relative;
	right: 15px;
	bottom: 90px;
}

.r{
	width: 500px;
	position: relative;
	left: 310px;
}
.t{
	width: 490px;
	position: relative;
	bottom: 50px;
}
.chix img{
	width: 300px;
	position: relative;
	right: 15px;
	bottom: 240px;
}
.g{
	width: 500px;
	position: relative;
	left: 310px;
	bottom: 150px;
}
.o{
	width: 500px;
	position: relative;
	bottom: 220px;
}
.ovc img{
	width: 300px;
	position: relative;
	left: 500px;
	bottom: 310px;
}
.xac{
	width: 500px;
	position: relative;
	bottom: 300px;
	left: 310px;
}
.picxac img{
	width: 300px;
	position: relative;
	bottom: 390px;
	right: 15px;
}
.dec{
	width: 500px;
	position: relative;
	bottom: 380px;
}
.picdec img{
	width: 300px;
	position: relative;
	left: 500px;
	bottom: 525px;
}
.kor{
	width: 500px;
	position: relative;
	bottom: 500px;
	left: 350px;
}
.pickor img{
	width: 300px;
	position: relative;
	bottom: 540px;
}
